body {
  background-image: url("../img/orcas.jpeg");
  background-size: cover;
}

.jumbotron.minky {
  font-family: 'Bungee Shade', cursive;
  background-color: #0C0B36;
  color: #FBEFF1;
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  padding: 30px;
}

h1.bigger {
  font-size: 90px;
  text-align: center;
}

img {
  display: block
  padding: 10px;
  padding: 20px;
  margin: 8px;
  margin-left: auto;
  background-color: #FBEFF1;
  border-radius: 4px;
  margin-right: auto;
  max-width: 95%;
}

img.widdle {
  width: 50px;
  height: 50px;
  padding: 0;
  border-radius: 3px;
  margin-bottom: 3px;
  margin-top: 0px;
  display: inline;
}

img.wave {
  margin-left: 35px;
}

p.cool {
  font-size: 16px;
  font-family: cursive;
}

h2.panel-title {
  font-size: 35px;
  font-family: 'Reem Kufi', sans-serif;
}

h4.panel-title {
  font-family: 'Reem Kufi', sans-serif;
  font-size: 26px;
}

.stick {
  max-height: 500px;
}

.chunk a {
  font-size: 19px;
  font-family: 'Reem Kufi', sans-serif;
}

.chunk p {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  color: #0C0B36;
}

.chunk li {
  margin-bottom: 3px;
}

.about h2 {
  text-align: center;
}

.panel-default {
  margin-left: 20px;
}

ol.number {
  font-family: 'Reem Kufi', sans-serif;
  font-size: 16px;
  color: #0C0B36;
}

.panel-default > .panel-heading {
  background-color: #0C0B36;
  color: #FBEFF1;
}

.panel-default > .panel-body {
  background-color: #FBEFF1;
}

span.smooth {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

span.fixy {
  max-height: 500px;
  min-height: 400px;
}
