body {
  background-image: url("../img/orcas.jpeg");
}

.jumbotron.minky {
  font-family: 'Bungee Shade', cursive;
  background-color: #0C0B36;
  color: #F2F0E5;
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
}

h1.bigger {
  font-size: 90px;
  text-align: center;
}

img {
  display: block
  padding: 10px;
  padding: 20px;
  margin: 8px;
  margin-left: auto;
  background-color: #F2F0E5;
  border-radius: 25px;
  margin-right: auto;
  max-width: 95%;
}

img.wave {
  margin-left: 35px;
}

p.cool {
  font-size: 16px;
  font-family: cursive;
}

h2.panel-title {
    font-size: 35px;
    font-family: 'Reem Kufi', sans-serif;
}

.stick {
  max-height: 500px;
}

.chunk a {
  font-size: 18px;
}

.panel-default {
  margin-left: 20px;
}
